.main {
    text-align: center;
}

input {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

.pokeimg img {
    margin-top: 10px;
    width: 200px;
    height: 200px;
    padding: 10px;
    border: 5px solid #ff3d3d;
    border-radius: 5px;
}